/***********************
  * my default style
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.sec {
  padding: 60px 0;
}

/***********************
    *styel for top bar
  ************************/
.top-bar {
  padding: 16px 0;
}
.top-bar .top-bar-left .top-bar-left-item:not(:last-child) {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #fff;
}
.top-bar .top-bar-left .top-bar-left-item > i {
  margin-right: 7px;
}
.top-bar .top-bar-right > :first-child {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #fff;
}

/***********************
    *styel for nav bar
  ************************/
.nav-bar {
  /***********************
      *logo style
    ************************/
  /***********************
      *styel for nav menu
    ************************/
}
.nav-bar .nav-logo {
  padding-right: 40px;
  border-right: 1px solid #d9d9d9;
}
.nav-bar .nav-menu {
  /***********************
      *styel for menu list
    ************************/
  z-index: 10;
  /***********************
      *style for extra menu list
    ************************/
}
.nav-bar .nav-menu ul > li {
  position: relative;
  transition: all ease-in-out 0.4s;
}
.nav-bar .nav-menu ul > li:not(:last-child) {
  border-bottom: 2px solid #fff;
}
.nav-bar .nav-menu ul > li ul {
  width: 340px;
  position: absolute;
  top: 100px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.4s;
  background-image: linear-gradient(#ff655a, green, green);
}
.nav-bar .nav-menu ul > li ul > li {
  background: rgba(255, 101, 90, 0.568627451);
}
.nav-bar .nav-menu ul > li ul a {
  padding: 20px;
  display: block;
}
.nav-bar .nav-menu ul > li a {
  padding: 45px 15px 45px 0;
}
.nav-bar .nav-menu ul > li a i {
  transition: all ease-in-out 0.4s;
  position: relative;
  top: 0;
}
.nav-bar .nav-menu ul > li:hover a i {
  top: 4px;
}
.nav-bar .nav-menu ul > li:hover ul {
  top: 69px;
  opacity: 1;
  visibility: visible;
  z-index: 0;
}
.nav-bar .nav-menu ul > li:hover ul > li {
  position: relative;
}
.nav-bar .nav-menu ul > li:hover ul > li a i {
  position: absolute;
  top: 37%;
  right: 0;
  transform: translateX(-25px);
}
.nav-bar .nav-menu ul > li:hover ul > li:hover {
  background: #ff655a;
}
.nav-bar .nav-menu ul > li:hover ul > li:hover a i {
  transform: translateX(-10px);
}
.nav-bar .nav-menu ul > li:hover ul > li ul {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(120%);
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.4s;
}
.nav-bar .nav-menu ul > li:hover ul > li:hover ul {
  transform: translateX(101%);
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.nav-bar .nav-menu ul > li:hover ul > li:hover ul li a i {
  position: absolute;
  top: 37%;
  right: 0;
  transform: translateX(-25px);
}
.nav-bar .nav-menu ul > li:hover ul > li:hover ul li:hover a i {
  transform: translateX(-10px);
}
.nav-bar .nav-menu .more .more-container {
  padding-right: 41px;
  cursor: pointer;
}
.nav-bar .nav-menu .more .more-container .hamBurger {
  position: relative;
}
.nav-bar .nav-menu .more .more-container .hamBurger span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  background: #018e36;
  width: 20px;
  height: 2px;
  transition: all ease-in-out 0.4s;
}
.nav-bar .nav-menu .more .more-container .hamBurger span:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 10px;
  background: #018e36;
  width: 20px;
  height: 2px;
  visibility: visible;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}
.nav-bar .nav-menu .more .more-container .hamBurger span:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  background: #018e36;
  width: 20px;
  height: 2px;
  transition: all ease-in-out 0.4s;
}
.nav-bar .nav-menu .more .more-container .hamBurger.active span:nth-child(1)::before {
  top: 0;
  transform: skew(-40deg, 40deg);
}
.nav-bar .nav-menu .more .more-container .hamBurger.active span:nth-child(2)::before {
  visibility: hidden;
  opacity: 0;
}
.nav-bar .nav-menu .more .more-container .hamBurger.active span:nth-child(3)::before {
  top: 0;
  transform: skew(40deg, -40deg);
}
.nav-bar .nav-menu .more .more-container .more-text {
  width: 45px;
  overflow: hidden;
}
.nav-bar .nav-menu .more .more-container .more-text span {
  position: relative;
  left: 0;
  transition: all ease-in-out 0.4s;
}
.nav-bar .nav-menu .more .more-container > .active span {
  left: 45px;
}
.nav-bar .mega-menu {
  z-index: 9;
  top: 150px;
  width: 100%;
  background-color: #03c16f;
  background-image: url("../images/client-say-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease-in-out 0.4s;
  visibility: hidden;
  opacity: 0;
}
.nav-bar .mega-menu .container .item ul li a {
  margin: 7px 0;
  display: block;
  position: relative;
}
.nav-bar .mega-menu .container .item ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1.5px;
  background: #ffffff;
  transition: all ease-in-out 0.4s;
}
.nav-bar .mega-menu .container .item ul li a:hover::after {
  width: 30%;
}
.nav-bar > .mmenu-active {
  visibility: visible;
  opacity: 1;
  top: 107px;
}

/****************
  *carousel
****************/
.details-btn {
  background: #018e36;
  padding: 18px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.details-btn i {
  transition: all ease-in-out 0.4s;
}
.details-btn:hover i {
  transform: translateX(13px);
}

.details-btn-1 {
  top: 67%;
  left: 17%;
}

.details-btn-2 {
  top: 72%;
  left: 27%;
}

.details-btn-3 {
  top: 70%;
  left: 25%;
}

.carousel-indicators {
  position: absolute;
  bottom: 2rem;
}
.carousel-indicators .my-indicator-btn {
  background-color: #f8867e;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}
.carousel-indicators .my-indicator-btn:not(:last-child) {
  margin-right: 10px;
}
.carousel-indicators .active {
  background-color: #ff655a;
}

/*******************
 *style for service
********************/
.services {
  background: #ecf9f1;
  padding-top: 90px;
}
.services .swiper {
  width: 100%;
  height: 100%;
}
.services .swiper-button-prev {
  color: #4ee488;
}
.services .swiper-button-next {
  color: #4ee488;
}
.services .swiper-slide {
  background-image: url("../images/bg-corner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(3, 193, 111, 0.4);
  border-radius: 8px;
  transition: all ease-in-out 0.6s;
}
.services .swiper-slide .swiper-slide-content .sl-content-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .swiper-slide .swiper-slide-content .sl-content-logo svg path {
  transition: all ease-in-out 0.4s;
  fill: #018e36;
}
.services .swiper-slide .swiper-slide-content .sl-content-text h3,
.services .swiper-slide .swiper-slide-content .sl-content-text a {
  transition: all ease-in-out 0.4s;
  color: #018e36;
}
.services .swiper-slide .swiper-slide-content .sl-content-text h3 i,
.services .swiper-slide .swiper-slide-content .sl-content-text a i {
  transition: all ease-in-out 0.4s;
}
.services .swiper-slide .swiper-slide-content .sl-content-text a:hover i {
  transform: translateX(10px);
}
.services .swiper-slide:hover {
  background-color: #ff655a;
  transform: scale(1.04);
  color: white;
}
.services .swiper-slide:hover .swiper-slide-content .sl-content-logo svg path {
  fill: white;
}
.services .swiper-slide:hover .sl-content-text h3,
.services .swiper-slide:hover .sl-content-text a {
  color: white;
}/*# sourceMappingURL=style.css.map */